@font-face {
    font-family: 'HSBombaram3Vertical';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalThin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalThin.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalThin.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalThin.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalThin.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'HSBombaram3Vertical';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalRegular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalRegular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalRegular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/HSBomBaram/HSBombaram3VerticalRegular.ttf') format("truetype");
    font-display: swap;
} 